# May Mobility (Data Scientist)

## Rough Idea of how the route looks

I don't believe that this is the actual route.

As I comb through more of the data, I'll get a better understanding of what order the stops are.

I just ploted the lat/lon in order from the appendix to give myself a visual aid.

![rough_image](./resources/pics/rough_idea_route.png)

### Point of Interest (PoI)

| Stop       | Description                      | Latitude | Longitude |
|:-----------|:--------------------------------:|----------|-----------|
| Bus        | Bus stop on a major transit line | 39.77285 | -86.16168 |
| Dentist    | School of Dentistry              | 39.77467 | -86.17895 |
| Doctor     | Pediatricianâ€™s office            | 39.77926 | -86.17496 |
| Admin      | Administrative building          | 39.77459 | -86.17433 |
| Hospital   | Campus hospital                  | 39.77567 | -86.17557 |
| Lime       | Bus stop on campus               | 39.77473 | -86.18376 |
| Parking    | Campus parking lot               | 39.77882 | -86.18121 |
| School     | School of Art and Design         | 39.77148 | -86.17148 |
| University | University lecture hall          | 39.77271 | -86.17575 |

## Read Data in

In [185]:
import pandas as pd
import numpy as np
# QoL for viewing df output
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# read-in *.csv files
pickups_df   = pd.read_csv("resources/csv/Data_Science_pickups.csv", na_values= np.nan)
ridership_df = pd.read_csv("resources/csv/Data_Science_site_ridership.csv", na_values= np.nan)

# display head of dataframes
print(pickups_df.head())
print(ridership_df.head())

   row_id            timestamp  pickup  dropoff    stop vehicle      time        date name
0       1  2021-11-01 07:10:54       1        0     Bus  Marble  07:00:00  2021-11-01   ES
1       2  2021-11-01 07:51:13       1        0     Bus  Marble  07:50:00  2021-11-01   ES
2       3  2021-11-01 08:02:13       1        0    Lime  Marble  08:01:00  2021-11-01   ES
3       4  2021-11-01 08:41:16       1        0  Doctor   Motto  08:41:00  2021-11-01   CM
4       5  2021-11-01 09:24:10       1        0     Bus    Myao  09:22:00  2021-11-01   CM
             timestamp  pickup  dropoff    stop vehicle      time        date name
0  2021-06-03 13:08:10     1.0      0.0     Bus   Motto  13:05:00  2021-06-03   JR
1  2021-06-03 13:31:41     0.0      1.0     Bus   Motto  13:31:43  2021-06-03   JR
2  2021-06-04 11:06:02     1.0      0.0  School   Motto  11:03:00  2021-06-04   CM
3  2021-06-04 11:07:48     0.0      1.0     Bus   Motto  11:07:00  2021-06-04   CM
4  2021-06-04 12:43:54     1.0      0.0     Bus   Motto  12:40:00  2021-06-04   MN

## Inspect and convert data types

In [186]:
print('pickups data frame\n')
pickups_df.info()

pickups data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row_id     363 non-null    int64
 1   timestamp  363 non-null    object
 2   pickup     363 non-null    int64
 3   dropoff    363 non-null    int64
 4   stop       363 non-null    object
 5   vehicle    363 non-null    object
 6   time       363 non-null    object
 7   date       363 non-null    object
 8   name       363 non-null    object
dtypes: int64(3), object(6)
memory usage: 25.6+ KB

In [187]:
# Data type changes in pickups_df
# timestamp    object
pickups_df["timestamp"] = pd.to_datetime(pickups_df["timestamp"], format="%Y-%m-%d %H:%M:%S")

# stop         object
pickups_df["stop"] = pickups_df["stop"].astype("category")

# vehicle      object
pickups_df["vehicle"] = pickups_df["vehicle"].astype("category")

# date         object
pickups_df["date"] = pd.to_datetime(pickups_df["date"], format="%Y-%m-%d")

# name         object
pickups_df["name"] = pickups_df["name"].astype("category")

pickups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 363 entries, 0 to 362
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   row_id     363 non-null    int64
 1   timestamp  363 non-null    datetime64[ns]
 2   pickup     363 non-null    int64
 3   dropoff    363 non-null    int64
 4   stop       363 non-null    category
 5   vehicle    363 non-null    category
 6   time       363 non-null    object
 7   date       363 non-null    datetime64[ns]
 8   name       363 non-null    category
dtypes: category(3), datetime64[ns](2), int64(3), object(1)
memory usage: 19.1+ KB

In [188]:
print('ridership data frame\n')
ridership_df.info()

ridership data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4352 entries, 0 to 4351
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  4352 non-null   object
 1   pickup     4340 non-null   float64
 2   dropoff    4337 non-null   float64
 3   stop       4352 non-null   object
 4   vehicle    4352 non-null   object
 5   time       4352 non-null   object
 6   date       4352 non-null   object
 7   name       4352 non-null   object
dtypes: float64(2), object(6)
memory usage: 272.1+ KB

In [189]:
# Data type changes in ridership_df
# timestamp     object
ridership_df["timestamp"] = pd.to_datetime(ridership_df["timestamp"], format="%Y-%m-%d %H:%M:%S")

# # pickup       float64 
# Should be int64
# ridership_df["pickup"] = ridership_df["pickup"]

# # dropoff      float64
# Should be int64
# ridership_df["dropoff"] = ridership_df["dropoff"]

# stop          object
ridership_df["stop"] = ridership_df["stop"].astype("category")

# vehicle       object
ridership_df["vehicle"] = ridership_df["vehicle"].astype("category")

# date          object
ridership_df["date"] = pd.to_datetime(ridership_df["date"], format="%Y-%m-%d")

# name          object
ridership_df["name"] = ridership_df["name"].astype("category")

ridership_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4352 entries, 0 to 4351
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  4352 non-null   datetime64[ns]
 1   pickup     4340 non-null   float64
 2   dropoff    4337 non-null   float64
 3   stop       4352 non-null   category
 4   vehicle    4352 non-null   category
 5   time       4352 non-null   object
 6   date       4352 non-null   datetime64[ns]
 7   name       4352 non-null   category
dtypes: category(3), datetime64[ns](2), float64(2), object(1)
memory usage: 184.8+ KB

In [190]:
# Find out why its null
#    RangeIndex: 4352 entries, 0 to 4351
# 1   pickup     4340 non-null   float64
# 2   dropoff    4337 non-null   float64

print(f'Missing pickup data {ridership_df["pickup"].isnull().sum()} out of {ridership_df.shape[0]} records, {ridership_df["pickup"].isnull().sum()/ridership_df.shape[0]:.2%} missing')
print(f'Missing dropoff data {ridership_df["dropoff"].isnull().sum()} out of {ridership_df.shape[0]} records, {ridership_df["dropoff"].isnull().sum()/ridership_df.shape[0]:.2%} missing')

Missing pickup data 12 out of 4352 records, 0.28% missing
Missing dropoff data 15 out of 4352 records, 0.34% missing

In [191]:
# inspect missing data from pickups
null_ridership_pickup = ridership_df[ridership_df["pickup"].isnull()]
null_ridership_pickup

              timestamp  pickup  dropoff        stop vehicle      time       date name
79  2021-06-17 14:09:37     NaN      1.0    Hospital   Mette  14:06:00 2021-06-17   MV
81  2021-06-17 16:52:03     NaN      1.0      Doctor   Motto  16:51:00 2021-06-17   JR
83  2021-06-17 20:25:00     NaN      1.0         Bus   Mette  17:03:00 2021-06-17   JR
85  2021-06-18 11:23:45     NaN      1.0     Parking    Myao  11:16:00 2021-06-18   CM
87  2021-06-18 14:16:28     NaN      1.0      School   Mette  14:16:00 2021-06-18   MN
89  2021-06-18 17:08:13     NaN      1.0  University   Motto  17:07:00 2021-06-18   JR
91  2021-06-21 11:50:34     NaN      1.0  University    Myao  11:49:00 2021-06-21   CM
93  2021-06-21 11:51:33     NaN      1.0         Bus   Mette  09:15:00 2021-06-21   CM
95  2021-06-21 11:52:30     NaN      1.0         Bus   Mette  09:39:00 2021-06-21   CM
97  2021-06-21 11:53:31     NaN      1.0      Doctor    Myao  10:33:00 2021-06-21   CM
100 2021-06-21 15:32:06     NaN      1.0         Bus    Myao  15:30:00 2021-06-21   CM
101 2021-06-21 15:53:34     NaN      2.0         Bus   Mette  15:52:00 2021-06-21   CM

In [192]:
# inspect missing data from pickups
null_ridership_dropoff = ridership_df[ridership_df["dropoff"].isnull()]
null_ridership_dropoff

              timestamp  pickup  dropoff        stop vehicle      time       date name
78  2021-06-17 14:02:53     1.0      NaN        Lime   Mette  14:00:00 2021-06-17   MV
80  2021-06-17 16:49:04     1.0      NaN         Bus   Motto  16:40:00 2021-06-17   JR
82  2021-06-17 16:53:10     1.0      NaN      Doctor   Mette  16:52:00 2021-06-17   JR
84  2021-06-18 11:05:49     1.0      NaN         Bus    Myao  11:05:00 2021-06-18   CM
86  2021-06-18 14:12:59     1.0      NaN        Lime   Mette  14:10:00 2021-06-18   MN
88  2021-06-18 17:05:47     1.0      NaN      Doctor   Motto  17:04:00 2021-06-18   JR
90  2021-06-21 11:26:12     1.0      NaN  University    Myao  11:25:00 2021-06-21   CM
92  2021-06-21 11:51:08     1.0      NaN        Lime   Mette  08:56:00 2021-06-21   CM
94  2021-06-21 11:52:02     1.0      NaN      Doctor   Mette  09:29:00 2021-06-21   CM
96  2021-06-21 11:53:04     1.0      NaN         Bus    Myao  10:21:00 2021-06-21   CM
98  2021-06-21 15:01:25     1.0      NaN         Bus    Myao  15:00:00 2021-06-21   CM
99  2021-06-21 15:25:32     2.0      NaN         Bus   Motto  15:25:00 2021-06-21   CM
102 2021-06-21 16:45:22     1.0      NaN         Bus    Myao  16:43:00 2021-06-21   CM
104 2021-06-22 08:00:48     1.0      NaN        Lime    Myao  07:59:00 2021-06-22   HK
106 2021-06-22 10:14:16     1.0      NaN        Lime   Mette  10:13:00 2021-06-22   CM

In [193]:
# investage errors/nulls/missing data.
record_counts_per = ridership_df["name"].value_counts()
total_errors_per =  ridership_df[["pickup","dropoff"]].isnull().groupby(ridership_df["name"]).sum().sum(axis=1)
percent_error_per = total_errors_per/record_counts_per

print(f"Total errors or miussing data in ridership_df is {total_errors_per.sum()}.")

errors_df = pd.DataFrame({"percent_error":percent_error_per,
                          "errors":total_errors_per,
                          "records":record_counts_per})

errors_df.loc[:, "percent_error"] = errors_df["percent_error"].map('{:.2%}'.format)
errors_df[errors_df["errors"] != 0].sort_values("records",ascending=False)

Total errors or miussing data in ridership_df is 27.

   percent_error  errors  records
JR         0.39%       6     1557
CM         1.07%      16     1497
MV         4.17%       2       48
MN        25.00%       2        8
HK        25.00%       1        4

In [230]:
# check to see if there is any simultaneous pickups and dropoffs
# subset removing NaN's
NaN_idx = null_ridership_dropoff.index.union(null_ridership_pickup.index)
NaN_df = ridership_df.drop(NaN_idx)

# sanity check!
print(f"OG record count: {ridership_df.shape[0]}")
print(f"Reduced record count: {NaN_df.shape[0]}")

sim_check = NaN_df[["pickup","dropoff"]].astype(bool)
and_check = sim_check["pickup"] & sim_check["dropoff"]

OG record count: 4352
Reduced record count: 4325

In [229]:
print(f"Freq of both pickup and dropoff: {ridership_df.iloc[sim_check[and_check].index].shape[0]} out of {ridership_df.shape[0]}, {ridership_df.iloc[sim_check[and_check].index].shape[0]/ridership_df.shape[0]:.2%}")
ridership_df.iloc[sim_check[and_check].index]

Freq of both pickup and dropoff: 74 out of 4352, 1.70%

               timestamp  pickup  dropoff        stop vehicle      time       date name
50   2021-06-14 10:55:34     1.0      1.0     Dentist   Mette  11:48:00 2021-06-14   JW
66   2021-06-16 17:24:18     1.0      1.0    Hospital   Mette  17:00:00 2021-06-16   JW
155  2021-06-25 13:16:00     1.0      1.0     Dentist   Motto  13:15:00 2021-06-25   MV
679  2021-08-05 14:26:24     1.0      1.0         Bus   Mette  14:26:00 2021-08-05   JP
921  2021-08-19 16:46:09     1.0      1.0         Bus   Motto  16:45:00 2021-08-19   JR
1287 2021-08-30 16:26:23     1.0      1.0  University  Marble  16:26:00 2021-08-30   JR
1288 2021-08-30 16:38:24     1.0      1.0         Bus  Marble  16:38:00 2021-08-30   JR
1350 2021-08-31 16:39:43     1.0      1.0         Bus    Myao  16:39:00 2021-08-31   JR
1382 2021-09-01 10:34:27     1.0      1.0    Hospital  Marble  10:33:00 2021-09-01   JR
1463 2021-09-02 15:18:36     1.0      1.0  University   Motto  15:18:00 2021-09-02   VG
1500 2021-09-03 08:48:13     1.0      1.0         Bus    Myao  08:48:00 2021-09-03   VG
1594 2021-09-07 16:49:36     1.0      1.0         Bus    Moon  16:49:00 2021-09-07   JR
1697 2021-09-09 14:30:34     1.0      3.0        Lime    Moon  14:30:00 2021-09-09   JR
1729 2021-09-09 17:38:10     2.0      1.0         Bus    Moon  17:37:00 2021-09-09   JR
1828 2021-09-13 15:15:38     1.0      1.0        Lime  Marble  15:15:00 2021-09-13   VG
1948 2021-09-15 11:12:31     1.0      1.0         Bus    Moon  10:00:00 2021-09-15   JR
2037 2021-09-16 15:05:12     1.0      1.0  University  Marble  15:04:00 2021-09-16   CM
2064 2021-09-16 18:33:48     2.0      1.0         Bus    Moon  18:33:00 2021-09-16   VG
2109 2021-09-17 14:53:57     1.0      3.0  University    Myao  14:53:00 2021-09-17   AH
2166 2021-09-20 13:14:58     2.0      1.0        Lime    Moon  13:13:00 2021-09-20   AH
2324 2021-09-22 16:26:16     1.0      1.0  University   Motto  16:26:00 2021-09-22   CM
2412 2021-09-23 18:04:54     1.0      3.0  University   Mette  18:04:00 2021-09-23   VG
2528 2021-09-27 16:19:11     1.0      1.0        Lime   Mette  16:19:00 2021-09-27   JR
2583 2021-09-28 14:37:57     1.0      1.0       Admin    Moon  14:37:00 2021-09-28   JR
2584 2021-09-28 14:43:32     2.0      1.0        Lime    Moon  14:43:00 2021-09-28   VG
2591 2021-09-28 16:50:12     1.0      3.0        Lime    Moon  16:49:00 2021-09-28   VG
2602 2021-09-28 18:22:53     1.0      1.0         Bus    Moon  18:22:00 2021-09-28   JR
2734 2021-09-30 12:12:27     1.0      1.0         Bus  Marble  12:12:00 2021-09-30   CM
2762 2021-09-30 14:52:22     1.0      2.0      School  Marble  14:52:00 2021-09-30   JR
2790 2021-10-01 12:26:58     1.0      2.0     Dentist    Myao  12:26:00 2021-10-01   CM
2792 2021-10-01 12:44:55     1.0      2.0        Lime    Moon  12:44:00 2021-10-01   CM
2800 2021-10-01 13:14:04     2.0      1.0         Bus   Motto  13:13:00 2021-10-01   CM
2808 2021-10-01 14:21:10     1.0      1.0       Admin  Marble  14:20:00 2021-10-01   KP
2810 2021-10-01 14:34:46     2.0      1.0         Bus   Motto  14:34:00 2021-10-01   JR
2873 2021-10-04 11:43:28     2.0      1.0        Lime    Myao  11:43:00 2021-10-04   CM
2875 2021-10-04 11:46:31     1.0      2.0         Bus   Motto  11:46:00 2021-10-04   CM
2891 2021-10-04 13:57:13     1.0      1.0  University  Marble  13:56:00 2021-10-04   CM
2895 2021-10-04 14:05:02     1.0      1.0        Lime    Myao  14:04:00 2021-10-04   CM
2896 2021-10-04 14:07:59     1.0      1.0  University    Myao  14:07:00 2021-10-04   JR
2903 2021-10-04 14:47:15     1.0      3.0        Lime    Myao  14:47:00 2021-10-04   JR
2904 2021-10-04 14:55:11     1.0      1.0      School    Myao  14:54:00 2021-10-04   JR
2905 2021-10-04 15:00:28     1.0      1.0  University    Myao  15:00:00 2021-10-04   JR
2922 2021-10-04 17:09:56     1.0      1.0  University   Motto  17:09:00 2021-10-04   VG
2948 2021-10-05 10:52:08     1.0      1.0         Bus   Motto  10:50:00 2021-10-05   CM
2949 2021-10-05 10:53:23     2.0      1.0      School    Myao  10:52:00 2021-10-05   CM
2961 2021-10-05 13:14:19     1.0      1.0        Lime    Moon  13:11:00 2021-10-05   TL
3037 2021-10-06 12:10:39     1.0      1.0       Admin    Moon  12:10:00 2021-10-06   CM
3066 2021-10-06 16:09:45     1.0      1.0  University  Marble  16:09:00 2021-10-06   CM
3085 2021-10-06 18:13:34     1.0      2.0        Lime  Marble  18:13:00 2021-10-06   CM
3090 2021-10-06 18:29:28     3.0      1.0       Admin  Marble  18:29:00 2021-10-06   CM
3105 2021-10-07 08:59:02     1.0      1.0        Lime    Myao  08:58:00 2021-10-07   CM
3142 2021-10-07 13:32:56     2.0      1.0        Lime  Marble  13:32:00 2021-10-07   CM
3146 2021-10-07 13:48:07     2.0      1.0  University   Motto  13:47:00 2021-10-07   CM
3165 2021-10-07 16:14:47     1.0      1.0        Lime  Marble  16:14:00 2021-10-07   JR
3170 2021-10-07 16:50:23     1.0      1.0        Lime    Myao  16:50:00 2021-10-07   JR
3248 2021-10-08 16:42:10     1.0      1.0         Bus    Myao  16:42:00 2021-10-08   JR
3249 2021-10-08 16:50:21     1.0      1.0        Lime    Myao  16:50:00 2021-10-08   JR
3256 2021-10-08 18:19:55     1.0      1.0         Bus   Motto  16:56:00 2021-10-08   JR
3329 2021-10-11 16:53:23     2.0      1.0         Bus    Moon  16:53:00 2021-10-11   VG
3339 2021-10-11 17:24:34     1.0      1.0      School    Moon  17:23:00 2021-10-11   JR
3506 2021-10-14 12:06:18     2.0      1.0        Lime    Myao  12:05:00 2021-10-14   CM
3574 2021-10-15 11:04:35     1.0      1.0        Lime   Motto  11:04:00 2021-10-15   CM
3644 2021-10-18 08:43:32     2.0      2.0  University  Marble  08:44:00 2021-10-18   VG
3746 2021-10-19 16:40:50     1.0      1.0         Bus  Marble  16:40:00 2021-10-19   JR
3755 2021-10-19 18:25:00     1.0      1.0  University  Marble  18:24:00 2021-10-19   JR
3887 2021-10-21 14:46:32     1.0      1.0  University    Moon  14:46:00 2021-10-21   JR
4071 2021-10-26 13:51:10     1.0      1.0     Dentist  Marble  13:48:00 2021-10-26   TL
4107 2021-10-26 18:48:44     1.0      2.0        Lime  Marble  18:48:00 2021-10-26   JR
4142 2021-10-27 12:04:08     1.0      1.0      Doctor    Myao  12:03:00 2021-10-27   JR
4143 2021-10-27 12:09:11     1.0      1.0  University    Myao  12:08:00 2021-10-27   JR
4178 2021-10-27 16:57:23     1.0      1.0         Bus    Myao  16:57:00 2021-10-27   CM
4225 2021-10-28 11:35:30     1.0      1.0        Lime   Motto  11:35:00 2021-10-28   CM
4266 2021-10-28 16:18:15     1.0      1.0       Admin   Motto  16:18:00 2021-10-28   JR
4335 2021-10-29 14:54:12     2.0      3.0         Bus   Motto  14:54:00 2021-10-29   JR

In [224]:
ridership_df[["pickup","dropoff"]].groupby(ridership_df["stop"]).sum()

            pickup  dropoff
stop
Admin        363.0    218.0
Bus          688.0    712.0
Dentist      180.0    221.0
Doctor       301.0    243.0
Hospital     138.0    120.0
Lime         584.0    389.0
Parking       63.0     54.0
School       144.0    129.0
University   245.0    620.0

### Convert Vars to proper dtypes

<table>
<tr><th>Pickup Data Types </th><th>Ridership Data Types</th></tr>
<tr><td>

| Var         |       Before  |       After     |
|:------------|:--------------|:----------------|
|row_id       | int64         | int64           |
|timestamp    | object        | datetime64[ns]  |   
|pickup       | int64         | int64           |
|dropoff      | int64         | int64           |
|stop         | object        | category        |
|vehicle      | object        | category        |
|time         | object        | object          |
|date         | object        | datetime64[ns]  |   
|name         | object        | category        |

</td><td>

| Var         |       Before  |       After    |
|:------------|:--------------|:---------------|
|timestamp    | object        | datetime64[ns] |
|pickup       | float64       | float64        |
|dropoff      | float64       | float64        |
|stop         | object        | category       |
|vehicle      | object        | category       |
|time         | object        | object         |
|date         | object        | datetime64[ns] |
|name         | object        | category       |

</td></tr> </table>